h2 {
    color: #0d6efd;
}

.form__border:focus {
    outline: none;
}

.question__author {
    text-decoration: none;
    color: inherit;
}

.question__author:hover {
    color: black;
}

.back__btn {
    margin-left: 1em;
}
