{% extends "base.html" %}
{% load static %}
{% block body %}
    <link rel="stylesheet" href="{% static "css/question.css" %}">
    <section class="d-flex justify-content-between align-items-center mt-3 mb-3">
        <h2>Question</h2>
    </section>
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">{{ question.title }}</h4>
        </div>
        <div class="card-body">
            <p class="card-text">{{ question.text }}</p>
        </div>
        <div class="card-footer">
            <h5 class="card-title">Answers</h5>
            <div class="card-group flex-column">
                {% if answers %}
                    {% for answer in answers %}
                        <div class="card mb-2 border">
                            <div class="card-body">
                                <p class="card-text">{{ answer.text }}</p>
                            </div>
                            <div class="card-footer">
                                <p>{{ answer.author }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No answers</p>
                {% endif %}
            </div>
        </div>
    </div>
        <section class="mt-4">
            <form method="post" action="{% url "question" question.id %}">
                {% csrf_token %}
                <fieldset>
                    <h5><label class="form-label">{{ form.text.label }}</label></h5>
                    <div>{{ form.text }}</div>
                </fieldset>
                <input type="hidden" name="question_id" id="question_id" value="{{ question.id }}">
                <button type="submit" class="btn btn-primary mt-3">Answer</button>
            </form>
        </section>
{% endblock body %}
