{% extends "base.html" %}
{% block body %}
    <h1>Question</h1>
    <h2>{{ question.title }}</h2>
    <p>{{ question.text }}</p>
    <section>
        <h2>Answers</h2>
        {% if answers %}
            {% for answer in answers %}
                <p>{{ answer.text }}</p>
                <p>{{ answer.author }}</p>
            {% endfor %}
        {% else %}
            <p>No answers</p>
        {% endif %}
    </section>
    <div style="height: 1px; background-color: black;"></div>
    <section>
        {% for erorr in form.non_field_errors %}
            <div class="alert alert-danger">{{ erorr }}</div>
        {% endfor %}
        <form class="form-horizontal" method="post" action="{% url "question" question.id %}">
            {% csrf_token %}
            <fieldset>
                <div class="form-group {% if form.text.errors %}has-error{% endif %}">
                    <label class="control-label">{{ form.text.label }}</label>
                    <div class="controls">{{ form.text }}</div>
                </div>
            </fieldset>
            <input type="hidden" name="question_id" id="question_id" value="{{ question.id }}">
            <button type="submit" class="btn btn-primary">Answer</button>
        </form>
    </section>
{% endblock body %}
