{% extends "base.html" %}
{% load static %}
{% block registration %}
    {% if user.id %}
        <a href="" class="user">{{ user.get_username }}</a>
    {% endif %}
    <button class="btn btn-primary" onclick="goBack()">Back</button>
{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{% static "css/signup.css" %}">
    <section class="d-flex flex-column align-items-center mt-3">
        <h2>Registration</h2>
        {% for field_errors in form.errors.values %}
            {% for field_error in field_errors %}
                <p class="alert alert-danger">{{ field_error}}</p>
            {% endfor %}
        {% endfor %}
        <form method="post" action="{% url "sign_up" %}">
            {% csrf_token %}
            <fieldset>
                {% for field in form %}
                    <label class="form-label mt-2">{{ field.label }}</label>
                    <div class="shadow border border-3 border-primary">{{ field }}</div>
                {% endfor %}
            </fieldset>
            <div class="d-flex justify-content-around align-items-center mt-4">
                <button type="submit" class="btn btn-primary">Sign up</button>
                <button type="button" class="btn btn-primary" onclick="document.location='{% url "log_in" %}'">Sign in</button>
            </div>
       </form>
    </section>
{% endblock body %}
